
@{
    ViewBag.Title = "Home page";
}

<h2>Ngành</h2>
<div>
    <a class="nav-link" href="/Home/TheoCatagory/1">
        DEV |
        <span class="label_">

            <i class="label "></i>

        </span>
    </a>
    <a class="nav-link" href="/Home/TheoCatagory/2">
        BUSINESS |
        <span class="label_">

            <i class="label "></i>

        </span>
    </a>
    <a class="nav-link" href="/Home/TheoCatagory/3">
        MARKETING
        <span class="label_">

            <i class="label "></i>

        </span>
    </a>
</div>







