@model IEnumerable<Lap456.Models.Course>
@{
    ViewBag.Title = "Flowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flowing</h2>
<ul class="course">
    @foreach (var course in Model)
    {
        <li>
            <div class="details">
                <span class="lecturer">
                    @course.Lecture.Name
                </span>
            </div>
        </li>
    }
</ul>
